<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="startup.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <iisnode 
      watchedFiles="web.config;*.js;.env.production"
      node_env="production"
      loggingEnabled="true"
      devErrorsEnabled="false" />

    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(public|_next)/(.*)$" />
          <action type="Rewrite" url="{R:0}"/>
        </rule>
        
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
          </conditions>
          <action type="Rewrite" url="startup.js"/>
        </rule>
      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
