<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Egrass Response</title>
</head>
<body>
    <p><b>Payment was successfull</p>
  <p><b>RTPS Ref. No: <%= appl_ref_no %></b></p>
  <p><b>Department Id: <%= grass_payment_response.department_id %></b></p>
  <p><b>GRN Number<%= grass_payment_response.grn %></b></p>
  <p><b>Payment Status: <%= grass_payment_response.status %></b></p>
</body>
</html>
